<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="APCollectionWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
  
    
    <add name="ConnectionStringLocal" connectionString="Database=hsrpdemo;Server=203.122.59.55;UID=hsrpapp2x;PWD=zxcPOI098#; pooling=true; Max Pool Size=200;Connect Timeout=0" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionStringLocal12" connectionString="Database=APTGDelayData;Server=203.122.59.55;UID=hsrpapp2x;PWD=zxcPOI098#; pooling=true; Max Pool Size=200;Connect Timeout=0" providerName="System.Data.SqlClient" />-->   
    <add name="ConnectionStringAPTG" connectionString="Database=HSRPAP;Server=43.242.124.17;UID=hsrpap201617;PWD=z#s2$Avs; pooling=true; Max Pool Size=200;Connect Timeout=500" providerName="System.Data.SqlClient" />
    <add name="ConnectionStringTG" connectionString="Database=hsrpts;Server=43.242.124.20;UID=hsrp12420;PWD=#1@A8fX!2v; pooling=true; Max Pool Size=200;Connect Timeout=500" providerName="System.Data.SqlClient" />
<add name="ConnectionStringLocal1" connectionString="Database=hsrpdemo;Server=43.242.124.207;UID=hsrptest;PWD=hsrptest@)!%; pooling=true; Max Pool Size=200;Connect Timeout=0" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />    
      <!--<httpRuntime executionTimeout="3600" maxRequestLength="1048576" requestValidationMode="4.0"/>-->
      <httpRuntime executionTimeout="3500" maxRequestLength="10384"  requestValidationMode="4.0"/>
    </system.web>
  
    <appSettings>
    <add key="TGpathx" value="G:\ERPHSRPLog\"/>
    <add key="APPathX" value="G:\\GetDataLog\\"/>
  </appSettings>

    <applicationSettings>
        <APCollectionWeb.Properties.Settings>
            <setting name="APCollectionWeb_WebReference_SalesRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.66:7057/LinkPoint/WS/Link%20Auto%20Tech%20Pvt.%20Ltd.%20AP/Page/SalesRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_WebReference_Delhi_SalesRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.196:7057/RTL/WS/Rosmerta%20HSRP%20Ventures%20(P)%20Ltd/Page/SalesRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_WebReference_HR_SalesRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.66:7057/LinkPoint/WS/Link%20Utsav%20Reg%20Plate%20P%20Ltd.%20HR/Page/SalesRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_WebReference_UK_SalesRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.66:7057/LinkPoint/WS/Link%20Utsav%20HSRP%20Pvt.%20Ltd.-UK/Page/SalesRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_WebReference_MP_SalesRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.67:7057/LinkPoint/WS/Link%20Point%20Infra%20Pvt.%20Ltd.%20MP/Page/SalesRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_WebReference_HP_SalesRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.66:7057/LinkPoint/WS/Link%20Utsav%20Ventures%20P.%20Ltd.-HP/Page/SalesRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_WebReference_BR_SalesRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.66:7057/LinkPoint/WS/Utsav%20safety%20systems%20P%20Ltd-BH/Page/SalesRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_WebReference_TG_SalesRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.66:7057/LinkPoint/WS/Link%20Auto%20Tech%20Pvt.%20Ltd.%20TG/Page/SalesRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_BankDepositRequestWS_DL_BankDepositRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.196:7057/RTL/WS/Rosmerta%20HSRP%20Ventures%20(P)%20Ltd/Page/BankDepositRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_BankDepositRequestWS_DL1_BankDepositRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.196:7057/RTL/WS/Rosmerta%20HSRP%20Ventures%20(P)%20Ltd/Page/BankDepositRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_RejectionProcess_DL_RejectionRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.196:7057/RTL/WS/Rosmerta%20HSRP%20Ventures%20(P)%20Ltd/Page/RejectionRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_aptransport_HSRPAuthorizationService"
                serializeAs="String">
                <value>https://aptransport.in/apesevawebsrv/HSRPAuthorizationService.asmx</value>
            </setting>
            <setting name="APCollectionWeb_BankDepositRequestWS_BankDepositRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.66:7057/LinkPoint/WS/Link%20Auto%20Tech%20Pvt.%20Ltd.%20AP/Page/BankDepositRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_BankDepositRequestWS_BR_BankDepositRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.66:7057/LinkPoint/WS/Utsav%20safety%20systems%20P%20Ltd-BH/Page/BankDepositRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_BankDepositRequestWS_HP_BankDepositRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.66:7057/LinkPoint/WS/Link%20Utsav%20Ventures%20P.%20Ltd.-HP/Page/BankDepositRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_BankDepositRequestWS_HR_BankDepositRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.66:7057/LinkPoint/WS/Link%20Utsav%20Reg%20Plate%20P%20Ltd.%20HR/Page/BankDepositRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_BankDepositRequestWS_TG_BankDepositRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.66:7057/LinkPoint/WS/Link%20Auto%20Tech%20Pvt.%20Ltd.%20TG/Page/BankDepositRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_BankDepositRequestWS_UK_BankDepositRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.66:7057/LinkPoint/WS/Link%20Utsav%20HSRP%20Pvt.%20Ltd.-UK/Page/BankDepositRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_RejectionProcess_HR_RejectionRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.66:7057/LinkPoint/WS/Link%20Utsav%20Reg%20Plate%20P%20Ltd.%20HR/Page/RejectionRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_RejectionProcess_UK_RejectionRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.66:7057/LinkPoint/WS/Link%20Utsav%20HSRP%20Pvt.%20Ltd.-UK/Page/RejectionRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_RejectionProcess_AP_RejectionRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.66:7057/LinkPoint/WS/Link%20Auto%20Tech%20Pvt.%20Ltd.%20AP/Page/RejectionRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_RejectionProcess_BR_RejectionRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.66:7057/LinkPoint/WS/Utsav%20safety%20systems%20P%20Ltd-BH/Page/RejectionRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_RejectionProcess_TG_RejectionRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.66:7057/LinkPoint/WS/Link%20Auto%20Tech%20Pvt.%20Ltd.%20TG/Page/RejectionRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_RejectionProcess_HP_RejectionRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.66:7057/LinkPoint/WS/Link%20Utsav%20Ventures%20P.%20Ltd.-HP/Page/RejectionRequestWS</value>
            </setting>
            <setting name="APCollectionWeb_GetTgUpdatedCat_HSRPAuthorizationService"
                serializeAs="String">
                <value>https://aptransport.in/tgesevawebsrv/HSRPAuthorizationService.asmx</value>
            </setting>
            <setting name="APCollectionWeb_APWebreference_HSRPAuthorizationService"
                serializeAs="String">
                <value>https://aptransport.in/aprtawebsrv/hsrpauthorizationservice.asmx</value>
            </setting>
            <setting name="APCollectionWeb_WebReferenceNewBR_SalesRequestWS_Service"
                serializeAs="String">
                <value>http://180.151.100.66:7077/USS/WS/Utsav%20safety%20systems%20P%20Ltd-BH/Page/SalesRequestWS</value>
            </setting>
        </APCollectionWeb.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HSRPAuthorizationServiceSoap" sendTimeout="00:25:00"
                    allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000"
                    maxReceivedMessageSize="20000000">
                    <readerQuotas maxDepth="32" maxStringContentLength="200000000"
                        maxArrayLength="200000000" />
                    <security mode="Transport" />
                </binding>
                <binding name="HSRPAuthorizationServiceSoap1" allowCookies="true"
                    maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
                    <readerQuotas maxDepth="32" maxStringContentLength="200000000"
                        maxArrayLength="200000000" />
                    <security mode="Transport" />
                </binding>
                <binding name="HSRPAuthorizationServiceSoap2" allowCookies="true"
                    maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
                    <readerQuotas maxDepth="32" maxStringContentLength="200000000"
                        maxArrayLength="200000000" />
                    <security mode="Transport" />
                </binding>
                <binding name="HSRPAuthorizationServiceSoap3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://aptransport.in/tgesevawebsrv/HSRPAuthorizationService.asmx"
                binding="basicHttpBinding" bindingConfiguration="HSRPAuthorizationServiceSoap"
                contract="TgS.HSRPAuthorizationServiceSoap" name="HSRPAuthorizationServiceSoap" />
            <endpoint address="https://aptransport.in/apesevawebsrv/HSRPAuthorizationService.asmx"
                binding="basicHttpBinding" bindingConfiguration="HSRPAuthorizationServiceSoap2"
                contract="APService.HSRPAuthorizationServiceSoap" name="HSRPAuthorizationServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>
