body { background: #f4f4f4; 	
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
 }


/********************************************************
 * GENERAL ELEMENTS
 *******************************************************/
p { padding-bottom: 1em; text-align:justify; line-height:20px; font-family:  }
#table{
	background-color:#FFF;
	width: 963px;
	margin:0px auto;
    box-shadow: 10px 10px 5px #888888;
	height:500px;
	

}
.main_table{
	background-color:#FFF;
	width: 963px;
	margin:0px auto;
    box-shadow: 1px 1px 20px 1px #888888;
	height:500px;
}
.topmeunlink_bg{
	background-color:#edc372;
	border: 1px solid #165e5b;
	height:28px;
}
.topmeunlink{
	font-family:Calibri, Georgia, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:11pt;
	color:#000000;
	text-transform:uppercase;
	text-decoration:none;
	margin-left:15px;
}
.topmeunlink:hover{
	font-family:Calibri, Georgia, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:11pt;
	color:#000000;
	text-transform:uppercase;
	text-decoration:underline;
	margin-left:15px;
}
.greenlink{
	font-family:Calibri, Georgia, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:11pt;
	color:#00ad1f;
	text-transform:uppercase;
	text-decoration:none;
	margin-left:15px;
}
.greenlink:hover{
	font-family:Calibri, Georgia, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:11pt;
	color:#00ad1f;
	text-transform:uppercase;
	text-decoration:underline;
	margin-left:15px;
}
.menu_link{
	font-family:Calibri, Georgia, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:11pt;
	color:#003d40;
	text-transform:uppercase;
	text-decoration:none;
}
.menu_link_home{
	font-family:Calibri, Georgia, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:11pt;
	color:#003d40;
	background-color:000000;
	text-transform:uppercase;
	text-decoration:none;
}

.menu_link:hover{
	font-family:Calibri, Georgia, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:11pt;
	color:#003d40;
	text-transform:uppercase;
	text-decoration:underline;

}
.topmeunlink_bg_over{
	background-image:url(../images/linkoverbg.jpg);
	background-repeat:repeat-x;
	height:45px;
}
.punchline{
	font-family: CuprumFFU, Calibri, Georgia, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:30pt;
	color:#00000;
	margin-left:50px;
	padding-left:30px;
}
.welcomeheading{
	font-family: CuprumFFU, Calibri, Georgia, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:25pt;
	color:#000000;
	margin-left:20px;
	padding-left:20px;
}
.welcometext{
	font-family: Verdana, Geneva, sans-serif, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:10pt;
	color:#FFFFFF;
	padding-left:20px;
	padding-right:35px;
	text-align:justify;
	line-height:20px;
}
.readmorewelcome{
	font-family: Verdana, Geneva, sans-serif, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:8pt;
	color:#a6a6a6;
	padding-left:20px;
	padding-right:35px;
	text-align:right;
	line-height:20px;
}
.hrtctext{
	font-family: Verdana, Geneva, sans-serif, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:8pt;
	color:#7a7a7a;
	padding-left:5px;
	padding-right:5px;
	text-align:justify;
	line-height:15px;
}
.maininnertext{
	font-family: Verdana, Geneva, sans-serif, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:8pt;
	color:#7a7a7a;
	margin-left:20px;
	padding-left:40px;
	margin-right:20px;
	padding-right:20px;
	text-align:justify;
	line-height:20px;
	padding-top:10px;
}
.maininnertextheading{
	font-family: Verdana, Geneva, sans-serif, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:10pt;
	font-weight:bold;
	color:#000000;
	margin-left:20px;
	padding-left:40px;
	margin-right:20px;
	padding-right:20px;
	text-align:justify;
	line-height:20px;
	padding-top:10px;
}

.blcktext{
	font-family: Verdana, Geneva, sans-serif, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:8pt;
	color:#000000;
	padding-left:20px;
	padding-right:15px;
	text-align:justify;
	line-height:20px;
}
.hometext1{
	font-family: Verdana, Geneva, sans-serif, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:8pt;
	color:#7a7a7a;
	padding-right:15px;
	text-align:justify;
	line-height:20px;
}
.homeheadingblack{
	font-family: CuprumFFU, Calibri, Georgia, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:25pt;
	color:#3c3d3f;
	line-height:30px;
	font-weight:bold;
}
.homeheadinggreen{
	font-family: CuprumFFU, Calibri, Georgia, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:20pt;
	color:#017a77;
	line-height:30px;
	font-weight:bold;
}
.homeheadinggreen2{
	font-family: CuprumFFU, Calibri, Georgia, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:20pt;
	color:#02851b;
	line-height:30px;
	font-weight:bold;
}
.footertext{
	font-family: Verdana, Geneva, sans-serif, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:9pt;
	color:#000000;
	padding-left:20px;
	padding-right:15px;
	line-height:20px;
	font-weight:bold;
}
.hrtcname{
	font-family: Verdana, Geneva, sans-serif, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:9pt;
	color:#000000;
	padding-left:2px;
	padding-right:2px;
	line-height:20px;
	font-weight:bold;
}
.footertext2{
	font-family: Verdana, Geneva, sans-serif, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:8pt;
	color:#7a7a7a;
	padding-left:20px;
	padding-right:15px;
	line-height:20px;
}

.footerlink{
	font-family: Verdana, Geneva, sans-serif, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:8pt;
	color:#000000;
	padding-left:20px;
	padding-right:5px;
	line-height:20px;
	text-decoration:underline;
}
.footerlink:hover{
	font-family: Verdana, Geneva, sans-serif, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:8pt;
	color:#000000;
	padding-left:20px;
	padding-right:5px;
	line-height:20px;
	text-decoration:none;

}
.tableborder{
	background-color:#FFF;
	border:#ededed solid 1px;
    box-shadow: 1px 1px 20px 1px #888888;
	border-radius:10px;

}
.formtextbold{
	font-family: Verdana, Geneva, sans-serif, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:9pt;
	color: #666666;
	padding-left:20px;
	padding-right:15px;
	line-height:30px;
	font-weight:bold;
}
.mfield{
	font-family: Verdana, Geneva, sans-serif, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:9pt;
	color: #ff0000;
	padding-left:3px;
	padding-right:3px;
	line-height:30px;
	font-weight:bold;
}
.textbox1{
	font-family: Verdana, Geneva, sans-serif, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:11pt;
	color: #000000;
	padding-left:10px;
	padding-right:3px;
	line-height:30px;
	font-weight:normal;
	height:35px;
	width:250px;
	background-color:#fff;
	border:#c1bdbd solid 1px;
}
.selectbox1{
	font-family: Verdana, Geneva, sans-serif, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:11pt;
	color: #000000;
	padding-left:10px;
	padding-right:3px;
	line-height:30px;
	font-weight:normal;
	height:35px;
	width:265px;
	background-color:#fff;
	border:#c1bdbd solid 1px;
}
.textarea{
	font-family: Verdana, Geneva, sans-serif, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:11pt;
	color: #000000;
	padding-left:10px;
	padding-right:3px;
	line-height:30px;
	font-weight:normal;
	height:55px;
	width:250px;
	background-color:#fff;
	border:#c1bdbd solid 1px;
}
.button{	
	font-family: Verdana, Geneva, sans-serif, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:11pt;
	padding-left:10px;
	padding-right:10px;
	height:45px;
	background-color:#017a77;
	border:#c1bdbd solid 1px;
	box-shadow: 1px 1px 10px 1px #888888;
	border-radius:10px;
	color:#FFF;
}
.buttongo{	
	font-family: Verdana, Geneva, sans-serif, "Times New Roman", Times, serif Verdana, Geneva, sans-serif;
	font-size:11pt;
	padding-left:10px;
	padding-right:10px;
	height:35px;
	width:55px;
	background-color:#00ad1f;
	border:#c1bdbd solid 1px;
	box-shadow: 1px 1px 10px 1px #888888;
	border-radius:5px;
	color:#FFF;

}

